target
Cargo.lock
.cargo
.github
npm
.eslintrc
.prettierignore
rustfmt.toml
*.node
__test__
renovate.json

# PNPM
.pnpm-debug.log*
.pnpm-store/
.pnpm-cache/
pnpm-lock.yaml
pnpm-workspace.yaml

# Rust 관련
core/
benchmark/
examples/
rustfmt.toml
**/*.rs
**/*.d
**/*.dylib
**/*.rlib
Cargo.toml

# 빌드 도구 관련
justfile
.just

# 예제 및 테스트
**/__test__/
**/tests/
**/*.spec.ts

# 문서
*.md
!README.md

# 개발 환경 설정
tsconfig*.json
.vscode/
.idea/